doctype html
html
  head
    title #{title}
    link(id='pagestyle', rel='stylesheet', href='/static/style.css')
    link(rel='stylesheet', href='/static/buttons.css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src='/javascripts/accessibility.js')

  body#body.normal
    div.container
      header
        div.header
          div
            h1 Lumen
          div.logo-container
            img(src='/images/icon.png').logo

      form(action='/page/get', method="get")
        .group
          input(type='text', name='pageID', required='')
          span.highlight
          span.bar
          label Text ID

    div.bar
      button#normal.button Normal
      button#darkmode.button Dark Mode
      button#bluelight.button Blue Light
      button#largetext.button Large Text
      button#dyslexic.button Dyslexic

    br
    br
    
    div#data
      text#text
        if x
          p.wordwrap #{x}
            

    div.speechbutton
      button#bark.bark
        i.material-icons hearing

    block content
