* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('opendyslexic.woff');
}


/* basic stylings ------------------------------------------ */

.container {
    width: 55vw;
    margin: 30px auto 0;
    display: block;
    padding: 0;
}

form {
    clear: left;
}


/*anmols highlighting bullshit*/

.dyslexic button#dyslexic.button {
    border-bottom: 2px solid white;
}

.darkmode button#darkmode.button {
    border-bottom: 2px solid white;
}

.bluelight button#bluelight.button {
    border-bottom: 2px solid white;
}

.largetext button#largetext.button {
    border-bottom: 2px solid white;
}


/*Normal*/

button {
    background-color: #046b99;
    color: #b3efff;
}

.button:focus,
.button:hover,
.bark:focus,
.bark:hover {
    background-color: #00cfff;
}


/*Dyslexic*/

.dyslexic .button,
.dyslexic .bark {
    background-color: darkslategray;
    color: yellow;
    font-family: OpenDyslexic;
}

.dyslexic .button:focus,
.dyslexic .button:hover,
.dyslexic .bark:focus,
.dyslexic .bark:hover {
    background-color: darkgray;
}


/*LargeText*/

.largetext .button,
.largetext .bark {
    font-size: 140%;
}


/*Darkmode*/

#body.darkmode .button,
#body.darkmode .bark {
    background-color: gray;
    color: whitesmoke;
}

#body.darkmode .button:hover,
#body.darkmode .button:focus,
#body.darkmode .bark:hover,
#body.darkmode .bark:focus {
    background-color: darkslategray;
}


/*Bluelight*/

body.bluelight .button,
body.bluelight .bark {
    background-color: #bf6416;
    color: #ffe594;
}

body.bluelight .button:hover,
body.bluelight .button:focus,
body.bluelight .bark:hover,
body.bluelight .bark:focus {
    background-color: #eea337;
}

h1 {
    text-align: center;
    margin-bottom: 10vh;
    font-weight: bold;
    font-size: 10vh;
}


/*LargeText*/

body.largetext h1 {
    font-size: 14vh;
}


/* INPUT*/

.group {
    position: relative;
    margin-bottom: 10px;
}


/*Normal*/

input {
    font-size: 18px;
    padding: 10px 10px 10px 10px;
    display: block;
    width: 100%;
    border: none;
    color: #1c304a;
    background: #b3efff;
    border-bottom: 1px solid #1c304a;
}


/*LargeText*/

.largetext input {
    font-size: 10vh;
    height: 10vh;
    width: 100%;
}


/*Dyslexic*/

.dyslexic input {
    color: yellow;
    background: black;
    border-bottom: 1px solid yellow;
}


/*Darkmode*/

#body.darkmode input {
    color: whitesmoke;
    background: black;
    border-bottom: 1px solid whitesmoke;
}


/*Bluelight*/

body.bluelight input {
    color: #5e1e00;
    background: #ffe594;
    border-bottom: 1px solid #5e1e00;
}

input:focus {
    outline: none;
}


/* LABEL ======================================= */


/*Normal*/

label {
    color: #1c304a;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    pointer-events: none;
    left: 1vw;
    top: 10px;
    transition: 0.2s ease all;
}

input:focus~label {
    top: -20px;
    font-size: 14px;
    color: #1c304a;
}

input:valid~label {
    top: -20px;
    font-size: 14px;
    color: #1c304a;
}

input:invalid {
    box-shadow: none;
}


/*Largetext*/

.largetext label {
    font-size: 5vh;
    left: 1vw;
    top: 3vh;
}

.largetext input:focus~label {
    top: -4.5vh;
    font-size: 4vh;
}

.largetext input:valid~label {
    top: -4.5vh;
    font-size: 4vh;
}


/*dyslexic*/

.dyslexic label {
    color: yellow;
}

.dyslexic input:focus~label {
    color: yellow;
}


/*darkmode*/

#body.darkmode label {
    color: whitesmoke;
}

#body.darkmode input:focus~label {
    color: whitesmoke;
}


/*bluelight*/

body.bluelight label {
    color: #5e1e00;
}

body.bluelight input:focus~label {
    color: #5e1e00;
}


/* active state */

input:focus~.bar:before,
input:focus~.bar:after {
    width: 50%;
}

body {
    background: #b3efff;
    color: #1c304a;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-weight: 300;
}

.largetext {
    font-weight: 900;
}

.dyslexic {
    background: black;
    color: yellow;
    font-family: OpenDyslexic, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

#body.darkmode {
    background: black;
    color: whitesmoke;
}

body.bluelight {
    background: #ffe594;
    color: #5e1e00;
}

#data {
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;
    text-align: left;
    max-width: 50%;
    margin: 0 auto;
}

.largetext #data {
    font-weight: 900;
    font-size: 6vh;
    line-height: 8vh;
}

.wordwrap {
    white-space: pre-wrap;
    /* CSS3 */
    white-space: -moz-pre-wrap;
    /* Firefox */
    white-space: -pre-wrap;
    /* Opera <7 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* IE */
}

.header {
    text-align: center;
    margin: 0px auto;
    width: auto;
}

.header>div {
    display: inline-block;
}

.logo {
    height: 10vh;
    width: 10vh;
    position: relative;
    margin: 0;
    top: 1vh;
    left: 1vh;
}

.largetext .logo {
    height: 14vh;
    width: 14vh;
    margin: 0;
}

#data #text .wordwrap.error {
    color: red;
    font-size: 12vh;
    line-height: 14vh;
}